.dmpg-button {
  display: inline-block;
  color: white;
  background: #ea0;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 0.5em;
  cursor: pointer;
  /* reset default styles */
  outline: none;
  appearance: none;
  border: none;
}

.dmpg-button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.dmpg-button:hover:not(:disabled) {
  opacity: 0.8;
}

.dmpg-button:active:not(:disabled) {
  opacity: 0.6;
}
