.dmpg-menu-container {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  color: white;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  background: #555;
}

.dmpg-menu-option {
  padding: 3px 9px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.dmpg-menu-option:hover {
  background: #777;
}

.dmpg-menu-option:active {
  background: #999;
}
