@import-glob "components/**/*.css";

.tcgpg-wrapper {
  --tcgpg-global-margin: 4px;
  --tcgpg-area-padding: 8px;
  --tcgpg-card-height: min(140px, 25vh);
  --tcgpg-card-width: 100px;
  --tcgpg-card-gap: 4px;
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background: #222;
  font-size: 16px;
  /* disable selection and popup */
  user-select: none;
}

.tcgpg-rows {
  flex-grow: 1;
}

.tcgpg-row {
  display: flex;
  gap:  var(--tcgpg-global-margin);
  margin-bottom: var(--tcgpg-global-margin);
}

.tcgpg-footer {
  margin-top: 16px;
  text-align: right;
}
