.tcgpg-floating-buttons {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  display: flex;
  gap: 4px;
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 100000;
}
