.dmpg-floating-buttons {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  display: flex;
  gap: 8px;
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 100000;
};
