@import-glob "components/**/*.css";

.dmpg-wrapper {
  --dmpg-global-margin: 8px;
  --dmpg-area-padding: 8px;
  --dmpg-card-height: 140px;
  --dmpg-card-width: 100px;
  --dmpg-card-gap: 4px;
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background: #222;
  font-size: 16px;
  user-select: none;
}

.dmpg-rows {
  flex-grow: 1;
}

.dmpg-row {
  display: flex;
  gap:  var(--dmpg-global-margin);
  margin-bottom: var(--dmpg-global-margin);
}

.dmpg-footer {
  margin-top: 16px;
  text-align: right;
}
