.dmpg-card-container {
  display: inline-flex;
  width: var(--dmpg-card-width);
  height: var(--dmpg-card-height);
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
}

.dmpg-card-container:active {
  opacity: 0.8;
}

.dmpg-card-inner {
  position: relative;
  display: inline-flex;
  width: var(--dmpg-card-width);
  height: var(--dmpg-card-height);
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.dmpg-card-inner.dmpg-empty {
  pointer-events: none;
}

.dmpg-card-inner.dmpg-nonempty {
  background: #0002;
  /* thin shadow gives a slight "reality" to card images */
  box-shadow: inset 0 0 8px #fff5;
}

.dmpg-card-inner.dmpg-nonempty:hover {
  background: transparent;
}

.dmpg-card-inner.dmpg-flipped {
  background: #028;
  box-shadow: inset 0 0 8px #fff5;
}

.dmpg-card-inner.dmpg-flipped:hover {
  background: #028d;
  box-shadow: none;
}

.dmpg-card-inner.dmpg-selected {
  background: #fd08;
}

.dmpg-card-inner.dmpg-targetted {
  background: #0ff8;
}

.dmpg-card-counter {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  /* avoid interfering dragevents of the card */
  pointer-events: none;
}

.dmpg-card-counter:not(.dmpg-flipped) {
  background: radial-gradient(#fffa, #fff0);
  color: black;
}

.dmpg-card-counter.dmpg-flipped {
  color: #fff4;
}
